*{
  margin: 0;
  padding: 0;
  font-family: verdana,sans-serif;
  font-size: 10pt;
}


.flex_container_4_column {
  grid-area: flex_content_03;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex_container_4_column>section {
  background-color: #38e316;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
  text-align: justify;
}

.flex_container_3_column {
  grid-area: flex_content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

}

.flex_container_3_column>section {
  background-color: crimson;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
  text-align: justify;
}

.flex_container_2_column {
  grid-area: flex_content_02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex_container_2_column>section {
  background-color: darkorange;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
  text-align: justify;
}

@media screen and (min-width: 320px) and (max-width:640px){
  .container {
    margin: 0 auto;
    /*max-width: 960px;*/
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 400px 5px 40px 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px 50px;
    grid-template-rows: 400px 40px auto auto auto auto auto auto 50px;
    grid-row-gap: 5px;
        grid-template-areas: "header header header header header header header header header header header header" "onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent onethirdContent"
    "twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar"
    "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar" "content content content content content content content content content content content content" "flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content" "flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02"
    "flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  .flex_container_4_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex_container_4_column>section {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px;
    text-align: justify;
  }
  .flex_container_3_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex_container_3_column>section {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px;
    text-align: justify;
  }
  .flex_container_2_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex_container_2_column>section {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px;
    text-align: justify;
  }
  h1{font-size: 3em;color:#a41d08;margin: auto;padding: 50px;}
  body header{
  height: 100vh;
  }
  .flex_container_4_column {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
  .flex_container_3_column {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
  .flex_container_2_column {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  }

@media screen and (min-width: 641px) and (max-width:1024px)
{
    .container
    {
        display: -ms-grid;
        display: grid;
        max-width: 960px;
        height: auto;
        margin: 0 auto;

        -ms-grid-columns: (1fr)[12];

        grid-template-columns: repeat(12, 1fr);
        -ms-grid-rows: 400px 5px auto 5px auto 5px auto 5px auto 5px 1fr 5px 50px;
        grid-template-rows: 400px auto auto auto auto 1fr 50px;
        grid-row-gap: 5px;
            grid-template-areas: 'header header header header header header header header header header header header' 'sidebar sidebar sidebar sidebar content content content content content content content content'
        'twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar onethirdContent onethirdContent onethirdContent onethirdContent'
        'flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content' 'flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02'
        'flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    }
    .flex_container_4_column
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    h1{font-size: 2.5em;color:#8221c6;margin: auto;padding: 100px;}
    body header{
    height: 100vh;
    }
    .flex_container_4_column
    {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    }
    .flex_container_3_column
    {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    }
    .flex_container_2_column
    {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    }

}

@media screen and (min-width: 1025px) and (max-width:7680px){
  .container {
    margin: 0 auto;
    max-width: 7680px;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 400px 5px auto 5px auto 5px auto 5px auto 5px auto 5px 50px;
    grid-template-rows: 400px auto auto auto auto auto 50px;
    grid-row-gap: 5px;
        grid-template-areas: 'header header header header header header header header header header header header' 'sidebar sidebar sidebar sidebar content content content content content content content content'
    'twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar twothirdSidebar onethirdContent onethirdContent onethirdContent onethirdContent'
    'flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content flex_content' 'flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02 flex_content_02'
    'flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03 flex_content_03'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
  }

  body header{
    background-image: url(../images/header1366.png);
    background-repeat: no-repeat;
    height: 100vh;
  }
  h1{font-size: 4.5em;color:#0fa3f6;margin: auto;padding: 150px;}
  p{font-size: 13pt;}
  .char_oneThird{width: 100mm;border: 1px solid #de2658;float: left;margin: 5px;}
  .char_twoThirds{width: 100mm;border: 1px solid #067306;float: left;margin: 5px;}
  .flex_container_4_column {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
  .flex_container_3_column {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
  .flex_container_2_column {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

}
img{float: left;margin: 2px 5px 5px 2px;clear:both;}

.nav_bar li{
  list-style-type: none;
  float: left;
  }
  .nav_bar {height: 40px;
    position: relative;top: -5px;left: -5px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.8;
  }


h2 {
  margin: 0;
}

p {
  padding: 10px;
  border: 1px solid #000000;

}

header {
  grid-area: header;
  padding: 5px;
  background-color: #000000;
  background-image: url(../images/header1.jpg);
  background-repeat: no-repeat;


}

nav {
  grid-area: nav;
  padding: 5px;
  background-color: aqua;

}

aside {
  grid-area: sidebar;
  padding: 5px;
  background-color: burlywood;

}

section {
  grid-area: content;
  padding: 5px;
  background-color: coral;
  }
.twoThirds{
  grid-area: onethirdContent;
  background-color: blueviolet;


  }
.oneThird{
  grid-area: twothirdSidebar;
  background-color: aquamarine;
}
footer {
  grid-area: footer;
  padding: 5px;
  background-color: darkgray;
  text-align: center;

}
